* {
  background-color: transparent;
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Roboto', sans-serif;
}

* a {
  display: inherit;
}
body {
  background-color: #ffffff;
}

img {
  display: block;
  margin: 20px auto;
}
.sign_box {
  text-align: center;
  padding: 50px;
  box-sizing: border-box;
  background-color:#FEF9E7;
  display: flex;
  flex-direction: column;
  max-width: 540px;
  width: 70%;
  height: auto;
  margin: 0 auto;
  border-radius: 15px;
  color: #98968E;
}
.sign_form {
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.title_text {
  margin: 0 auto 5px auto;
  text-align: left;
  font-weight: 500;
  color: #98968E;
  font-size: 1.25rem;
}

.input_textbox{
  margin: 0 auto 20px auto;
  padding: 10px;
  border-radius: 10px;
  width: 80%;
  background-color: #F9E79F;
  box-sizing: border-box;
}

#sign_form_id_input {
  box-sizing: border-box;
  width: 100%;
  background-color: transparent;
  border: none;
}
#sign_form_pw_input {
  box-sizing: border-box;
  width: 100%;
  ackground-color: transparent;
  border: none;
}

.sign_in_button {
  display: block;
  margin: 10px auto 30px auto;
  box-sizing: border-box;
  border: none;
  background-color: rgba(134, 134, 134, 0.705);
  border-radius: 10px;
  width: 80%;
  height: 40px;
  text-align: center;
  color: #ffffff;
  padding: 10px;
  cursor: pointer;
}

.sign_in_button:hover {
  box-sizing: border-box;
  border: solid #C9C3AB;
}

.line {
  box-sizing: border-box;
  border-left: none;
  border-right: none;
  border-top: none;
  border: solid #98968E 1px;
  margin: 5% auto;
  width: 90%;
}
.sns_box {
  margin: 10px auto;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sns_button {
  box-sizing: border-box;
  margin: 0;
  width: 3em;
  height: 3em;
  border:none;
  border-radius: 2.5rem;
  background-color: #ffffff;
  padding: 5px;
}

.sns_button:hover {
  box-sizing: border-box;
  border: solid #98968E;  
}

.sns_button img {
  width: 80%;
  height: 80%;
  margin: 10% auto;
}

.question_sign_up {
  display: inline;
  color: #98968E;
}

a:-webkit-any-link {
    color: #98968E;
    cursor: pointer;
}
/*여기서부터는 회원가입 약관 페이지 입니다*/
h1 {
  color: #98968E;
  text-align: center;
}

h2 {
  color: #98968E;
  text-align: center;
}

#login_suggestion {
  display: block;
  text-align: center;
  margin: 0;
}
#login_suggestion p{
  display: inline-block;
  color: #98968E;
  margin-right: 15px;
}
.go_to_sign_in {
  display: inline-block;
}
.terms_box {
  display: block;
 padding-top: 7%;
 padding-bottom: 7%;
 box-sizing: border-box;
 border: none; 
 background-color: #FEF9E7;
 border-radius: 10px;
 width: 80%;
 max-width: 600px;
 margin: 20px auto;
}

.terms_checkbox_wrap {
  color: #98968E;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  background-color: #F9E79F;
  border-radius: 10px;
  width: 90%;
  margin: 20px auto;
}

.terms_checkbox{
  display: inline-block;
}

.terms {
  display: block;
  font-size: 0.7em;
  background-color: white;
  margin: 30px auto;
  box-sizing: border-box;
  border: solid #98968E;
  overflow: scroll;
  width: 90%;
  height: 200px;
}

.sub_buttons_container {
  display: flex;
  width: 100%;  
}

.before_level {
  box-sizing: border-box;
  border: solid #F9E79F;
  border-radius: 15px;
  background-color: white;
  position: absolute;
  left: 50%;
  transform: translate(-120%);
  cursor: pointer;
}

.before_level:hover,.next_level:hover {
  box-sizing: border-box;
  border: solid #FDD835;
}

.next_level {
  box-sizing: border-box;
  border-radius: 15px;
  border: none;
  border: solid #F9E79F;
  background-color: white;
  position: absolute;
  left: 50%;
  transform: translate(20%);
  cursor: pointer;
}

.header {
  box-sizing: border-box;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #7D7D7B 1px;
  height: 80px;
}

.header img {
  height: 80px;
  margin: 0 30px 0 0;
}

/*여기서부터 회원가입 정보입력 페이지*/
.sign_up_form_box{
 box-sizing: border-box;
 border: none;
 border-radius: 10px;
 width: 80%;
 max-width: 600px;
 display: block;
 margin: 5% auto;
 padding: 5%;
 color: #7D7D7B;
 background-color: #FEF9E7;
}

.sign_up_title {
  text-align: center;
  font-weight: 500;
  color: #98968E;
}

.sign_up_form_typing_box {
  box-sizing: border-box;
  border: none;
  width: 70%;
}

#email_check_btn {
  box-sizing: border-box;
  width: 27%;
  border: none;
  border-radius: 15px;
  background-color: white;
  color: #98968E;
}

.sign_up_form_box p {
  text-align: center;
  font-size: 0.75rem;
  color: #98968E;
  font-weight: 500;
}

#nation_num ,#verify_phone_num{
  width: 27%;
  box-sizing: border-box;
  border: none;
  background-color: white;
  border-radius: 15px;
  color: #98968E;
}

.sign_up_btn {
  display: block;
  text-align: center;
  width: 80%;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  background-color: rgba(134, 134, 134, 0.705);
  margin: 30px auto;
  padding: 10px;
  color: white;
}

.sign_up_btn:hover {
  box-sizing: border-box;
  border: solid #C9C3AB;
}
